@{
    ViewData["Title"] = "Over ons";
}

<div class="d-flex flex-wrap justify-content-center p-5">

    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/img/Werken-als-psychiatrisch.jpg" alt="Kind met handen op hoofd">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wij zijn een praktijk bestaande uit gemotiveerde en enthousiaste orthopedagogen en psychologen</h5>
                <p class="card-text">
                    Zorg Maatschap Den Haag biedt hulp gericht op de ontwikkeling van kinderen en jongeren van 4 t/m 18 jaar. Het aanbod bestaat uit diagnostiek en behandeling van schoolproblematiek, gedrags- en sociaal-emotionele problemen.
                    Wij bieden zowel vergoede zorg ( jeugdwet ggz en jeugdwet dyslexie) via onze contracten met verschillende gemeentes. In Amsterdam Amstelland en Zaanstreek Waterland en hebben wij een contract met de gemeente voor segment B zorg en vergoede dyslexiezorg. Voor de regio’s Utrecht West en Amersfoort bieden wij (basis)generalistische zorg en vergoede dyslexiezorg.
                    Wij verzorgen hulp zowel bij ouders en kinderen thuis, op onze verschillende locaties, en op scholen binnen de regio’s Amsterdam Amstelland, Zaanstreek Waterland , Gooi en Vechtstreek, Amersfoort en Utrecht-west.
                    Wij hebben verschillende aanpassingen gedaan op onze locaties, zodat deze ingericht zijn op de 1.5 meter-maatschappij. Wij hanteren de hoogst mogelijke hygiënevoorschriften en houden ons aan de richtlijnen van het RIVM.
                </p>
            </div>
        </div>
    </div>

</div>