@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Problemen";
}

<div class="d-flex flex-wrap justify-content-center p-5">

    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/img/Pedagogisch-medewerker-kinderopvang.jpg" alt="Kind met handen op hoofd">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Met welke problemen kunt u bij ons terecht en waar te beginnen?</h5>
                <p class="card-text">
                    Heeft uw kind moeite met studeren, concentreren of andere activiteiten en weet u hier geen raad mee? Heeft u hierdoor ook moeite met het geven van de juist hulp tijdens de opvoeding? Dan kunnen wij u helpen!</br></br>
                    Wij hebben 4 specialisten op elk gebied die u en uw kind kunnen helpen met persoonlijke begeleiding. Deze hulp zorgt ervoor dat u de perfecte hulp krijgt in de opvoeding van uw kind!</br></br>
                    Als u zenuwachtig bent voor het kennismakingsgesprek, dan geen zorgen hier hebben wij een aantal tips hoe jij je het beste kunt voorbereiden!</br>
                    -	Oefen door jezelf voor te stellen voor de spiegel</br>
                    -	Schrijf op waar je het over wilt hebben</br>
                    -	Zorg ervoor dat je op tijd komt, als je te laat weg gaat kan dit voor extra spanning zorgen</br></br>
                    Als het blijkt aan de hand van het kennismakingsgesprek niet klikt, kunnen wij u helpen met het zoeken naar iemand anders en we hebben zelf uiteraard op nog andere medewerkers die misschien beter geschikt zijn!
                </p>
            </div>
        </div>
    </div>

</div>