@{
    ViewData["Title"] = "Groep toevoegen";
}
@model List<Chat>

<div class="container p-3">
    <h1 class="text-center">Groep toetreden</h1>
    <p style="font-size:large" class="text-center">Treed in een groep toe.</p>

    <form asp-action="GroepToevoegen" method="get" class="filter-box">
        <table>
            <tbody>
                <tr>
                    <td><label for="NaamInputVeld">Zoek op naam</label></td>
                    <td><input name="Naam" id="NaamInputVeld" type="text" placeholder="Naam groep" aria-label="zoek op naam van de Groep" /></td>
                </tr>
                <tr>
                    <td><label for="BeschrijvingInputVeld"> Zoeken op beschrijving</label></td>
                    <td><input name="Beschrijving" id="BeschrijvingInputVeld" type="text" placeholder="beschrijving groep" aria-label="zoek op de beschrijving van de groep" /></td>
                </tr>
                <tr>
                    <td><label for="LijstMetOnderwerpen">Zoek onderwerp</label></td>
                    <td>
                        <select name="Onderwerp" type="text">
                            <option value="">Alle onderwerpen</option>
                            <option value="School">School</option>
                            <option value="Depressief">Depressief</option>
                            <option value="Slaaptekort">Slaaptekort</option>
                            <option value="ADD">ADD</option>
                            <option value="ADHD">ADHD</option>
                            <option value="Traumas">Traumas</option>
                            <option value="Autisme">Autisme</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="LijstMetLeeftijd">Zoek op leeftijdscategorieën</label></td>
                    <td>
                        <select name="Leeftijdscategorie" type="text">
                            <option value="-14">14 jaar of jonger</option>
                            <option value="14-17">14 tot 17 jaar</option>
                            <option value="18-21">18 tot 21 jaar</option>
                            <option value="21+">21 jaar of ouder</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Zoek" aria-label="Zoek in lijst van groepen" class="btn btn-primary">
    </form>

    <!--Dit moet later nog aangepast worden dat je daadwerkelijk kan joinen-->
    <div class="groups b-large">
        @foreach (var groep in Model)
        {
            <div class="group">
                <h3>@groep.Naam</h3>
                <p>@groep.Beschrijving</p>
                <form action="JoinChat" method='post'>
                    <input type="Hidden" value="@groep.Id" name="Id" />
                    <input type="submit" value="Neem deel aan @groep.Naam">
                </form>
            </div>
        }
    </div>
</div>