@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Wie wij zijn";
}


<div class="d-flex flex-wrap justify-content-center p-5">

    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/img/panden-hereweg-kliniek.jpg" alt="Kind met handen op hoofd">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wie zijn wij en waarom zijn wij anders dan alle praktijken?</h5>
                <p class="card-text">
                    Wij zijn een team van specialisten dat niets liever wil dan het helpen van kinderen die moeite hebben met onderdelen op school of andere sociale situaties. Wij streven ernaar om iedereen op een zo goed mogelijke manier te helpen. Want zonder imperfecties zijn er ook geen verbeteringen mogelijk.</br></br>
                    Wij als praktijk zijn er vooral op gericht dat uw kind zich comfortabel voelt, zodat de communicatie soepel verloopt en wij onze kwaliteiten het beste kunnen inzetten. Zo kunnen wij zo functioneel mogelijk onze behandelingen uitvoeren en uw kind verder helpen.</br></br>
                    De  3 kernwaardes van onze praktijk zijn:</br>
                    -	Behulpzaamheid</br>
                    -	Vertrouwelijkheid</br>
                    -	Uniciteit</br></br>
                    Met behulpzaamheid bedoelen wij dat wij altijd de volle 100% zullen geven om u en uw kind zo veel en zo goed mogelijk te woord te zullen staan.</br>
                    Met vertrouwelijkheid bedoelen wij dat u nooit hoeft te twijfelen aan ons, zo zal alles wat u tegen ons verteld in vertrouwen worden behandeld.</br>
                    Met uniciteit wordt bedoeld dat u als klant anders bent dan alle andere mensen op de wereld en dat wij dat respecteren en onszelf zo goed mogelijk proberen te adapteren aan u en de situatie van uw kind.</br>

                </p>
            </div>
        </div>
    </div>

</div>