<div class="text-center">
    <h1 style="color:red;">Toegang gewijgerd</h1>
    <p>U heeft geen toegang tot dit bestand</p>
    <a class="btn btn-primary" href='javascript:history.go(-1)'>Ga terug</a>
</div>