@{
    ViewData["Title"] = "Home Page";
}
<div class="p-5 mb-5 bg-light rounded-3" style="background-image: url(/img/education.jpg); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid py-5">
    </div>
</div>



<div class="d-none d-sm-block">
    <div class="d-flex flex-wrap justify-content-center text-white">
        <div class="col-md-2 text-center rounded-left" style="background-color: #007a78;">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon1.svg" style="" alt="2 handen met hartjes" />
            </div>
            <h4 class="font-weight-bold p-3">Voor wie</h4>
            <p>Onze webapplicatie is voor alle kinderen die het net iets moeilijker hebben dan anderen.</p>
        </div>
        <div class="col-md-2 text-center" style="background-color: #1b365d">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon2.svg" alt="2 blaadjes" />
            </div>
            <h4 class="font-weight-bold p-3 text-white">Online Chats</h4>
            <p>Met de online chatfunctie kunt uw kind altijd terecht bij een van onze specialisten die u graag te woord staan.</p>
        </div>
        <div class="col-md-2 text-center" style="background-color: #007a78">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon3.svg" alt="kruis" />
            </div>
            <h4 class="font-weight-bold p-3 text-white">GZ-psychologen</h4>
            <p>Onze specialisten zijn allemaal gekwalificeerd en gespecialiseerd in het helpen en begeleiden van kinderen met verscheidene moeilijkheden.</p>
        </div>
        <div class="col-md-2 text-center rounded-right" style="background-color: #1b365d">
            <div class="m-5 mx-auto d-block" style="width:40%; background-color: #FFFFFF; border-radius: 100px; padding: 15px;">
                <img src="~/img/icon4.svg" alt="pill" />
            </div>
            <h4 class="font-weight-bold p-3 text-white">Integratieve therapie</h4>
            <p>Met het toepassen van integratieve therapie zorgen wij ervoor dat uw kind zo veel mogelijk betrokken is met het zoeken naar oplossingen samen met onze therapisten.</p>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center p-5">

    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/img/pedagoog.jpg" alt="Kind met handen op hoofd">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bent u op zoek naar professionele hulp voor uw kind?</h5>
                <p class="card-text">
                    <div>
                        Bent u op zoek naar professionele hulp voor uw kind, omdat uw kind het net iets moeilijker heeft dan andere kinderen? Dan kunnen wij u, en vooral uw kind, van dienst zijn met onze gespecialiseerde hulpverleners. Wij zorgen ervoor dat uw kind de beste hulp krijgt die hij/zij nodig heeft. Bijvoorbeeld als uw kind concentratieproblemen heeft of oncomfortabel is in bepaalde situaties. Twijfel niet en informeer direct bij ons naar alle mogelijkheden voor u en uw kind.</br></br>
                        Als uw kind ouder is dan 16 kan uw kind zelf een account aanmaken en gebruik maken van alle functionaliteiten.</br></br>
                        Als uw kind jonger is dan 16 jaar maakt u als ouder/voogd toestemming geven via de applicatie voordat uw kind gebruik kan maken van onze functionaliteiten. Ook kunt u, als uw kind jonger is dan 16 jaar, de frequentie van de chats met een van onze specialisten zien.</br></br>
                        Wij gaan als team veilig om met uw gegevens en de gegevens van uw kind. Hier kunt u verder over lezen via de link onderaan de pagina.</br>

                    </div>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="d-flex flex-wrap justify-content-center p-2">
    <div class="col-lg-3 p-2">
        <div class="card">
            <img src="~/img/mesurechild.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kinderen</h5>
                <p class="card-text">Heeft u van jongs af aan al moeite met de opvoeding van uw kind? En weet u niet hoe dit precies komt? Wij kunnen u helpen!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-2">
        <div class="card">
            <img src="~/img/kids.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jongeren tot 16</h5>
                <p class="card-text">Vindt u het moeilijk om te gaan met uw kind of is uw kind net iets anders als alle andere kinderen? Meld u aan zodat wij kunnen helpen!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-2">
        <div class="card">
            <img src="~/img/college.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jong Volwassenen</h5>
                <p class="card-text">De periode van jongeren naar jong volwassenen is de moeilijkste periode in het opgroeien van je kind. Als u hier moeite mee heeft kunnen wij u altijd helpen!</p>
            </div>
        </div>
    </div>
</div>
